@use '/public/styles/mixins';

.homepage-container {
  position: relative;
  @include mixins.section($justify: space-evenly);
  row-gap: 2rem;

  &-header {
    width: 100%;
    margin-top: 1rem;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &-name {
        width: 340px;
        z-index: 1;

        & svg {
          filter: drop-shadow(0 6px 4px var(--primary-dark-color));
        }
      }
      &-svg {
        text-align: center;
        & svg {
          width: 45%;
        }
      }
    }
  }

  &-visual {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 4rem;
    margin-top: 2rem;
    margin-left: 25px;
    &-title {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      font-family: var(--font-title);
      font-size: 1.4rem;

      & h1 {
        display: inline-block;
        white-space: nowrap;
        padding: 1rem 2rem 0 0.4rem;
        padding-right: 3rem;
        margin-bottom: 10px;
        line-height: 1.2;
        color: var(--primary-fluo-color);
        background-color: var(--primary-dark-color);
      }
    }
    &-image {
      & img {
        width: 450px;
        height: auto;
      }
    }
  }

  &-presentation {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;

    &-catchphrase {
      & p {
        font-family: 'Poppins regular';
        color: var(--primary-dark-color);
        font-size: 1.4rem;
        text-align: start;
        letter-spacing: 2px;
      }
    }

    &-svg {
      margin-left: 1rem;
      width: 25%;
      position: absolute;
      z-index: -1;
      & svg {
        opacity: 0.4;
        & path {
          fill: none;
          stroke-width: 2px;
          stroke: var(--primary-light-color);
        }
      }
    }
  }
}

// SVG design
.brand {
  & path {
    fill: var(--primary-dark-color);
    &:nth-child(1) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 179;
      stroke-dashoffset: 179;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(2) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 136;
      stroke-dashoffset: 136;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(3) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 234;
      stroke-dashoffset: 234;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(4) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 134;
      stroke-dashoffset: 134;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(5) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 205;
      stroke-dashoffset: 205;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(6) {
      fill: var(--primary-purple-color);
    }
    &:nth-child(7) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 134;
      stroke-dashoffset: 134;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(8) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 233;
      stroke-dashoffset: 233;
      animation: dash-line 3s linear forwards;
    }
    &:nth-child(9) {
      stroke: var(--svg-fill-grey);
      stroke-dasharray: 197;
      stroke-dashoffset: 197;
      animation: dash-line 3s linear forwards;
    }
  }
}

.background-shadow {
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  z-index: -2;
  & svg {
    height: 100%;
    & path {
      &:nth-child(1) {
        fill: var(--primary-grey-color);
        opacity: 0.5;
      }
      &:nth-child(2) {
        filter: drop-shadow(2px 4px 6px var(--primary-grey-color));
      }
      &:nth-child(3) {
        fill: var(--primary-light-color);
        opacity: 0.2;
        filter: drop-shadow(-2px -4px 6px var(--primary-grey-color));
      }
      &:nth-child(4) {
        fill: var(--primary-light-color);
        opacity: 0.2;
        filter: drop-shadow(2px 2px 4px var(--primary-grey-color));
      }
    }
  }
}

.homepage-logo {
  &-fox {
    fill: var(--primary-dark-color);
    filter: drop-shadow(0 12px 4px var(--primary-dark-color));
  }
}

.logo-letter {
  &-light {
    fill: var(--primary-light-color);
  }

  &-colored {
    fill: var(--primary-dark-color);
  }
}

// @keyframes dash-line {
//   0% {
//     stroke-dashoffset: 0;
//   }
//   50% {
//     stroke-dashoffset: 100%;
//   }
//   100% {
//     stroke-dashoffset: 0;
//   }
// }

.big-hexa {
  fill: var(--primary-fluo-color);
  animation: move 4s linear infinite alternate;
}

@keyframes move {
  to {
    left: 100%;
    fill: #348369;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }

  .homepage-container {
    height: 100%;

    &-header {
      margin-left: 0;
      row-gap: 0;
      margin: 1.5rem;

      &-logo-svg {
        & svg {
          width: 25%;
        }
      }

      &-logo-name {
        width: 200px;
      }
    }

    &-presentation {
      width: 90%;

      & p {
        font-size: 0.9rem;
      }

      &-svg {
        display: none;
      }
    }

    &-visual {
      flex-direction: column;
      margin-top: 0;
      margin-left: 0;

      &-title {
        font-size: 1.2rem;
        margin: 2rem;

        & h1 {
          padding: 0.4rem 2.4rem 0 0.2rem;
        }
      }

      &-image {
        width: 375px;
        height: 220px;
        position: relative;

        & img {
          position: absolute;
          width: 375px;
        }
      }
    }
  }

  .background-shadow {
    top: 0;
  }
}
