@use '/public/styles/mixins';

.homepage-container {
  position: relative;
  @include mixins.section();
  background-color: #caf200;
}

.hexa-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 320px;

  &-logo {
    // z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      margin-top: 0;
      width: 50%;
      filter: none;
      & path {
        fill: #caf200 !important;
        stroke: black;
        opacity: 0.2;
      }
      // .one {
      //   @include mixins.line-animate(0, 0, dash-line, 4s, 2s, forwards);
      // }
    }
  }
}

.brand {
  position: absolute;
  z-index: 100;
  width: 80%;
}

.background_neon {
  fill: url(#header-shape-gradient);
  filter: drop-shadow(2px 4px 6px #aaaaaa);
}

.svg-shadow {
  fill: var(--icon-light-fill);
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 40px;
  left: 0;
}

// @keyframes dash-line {
//   0% {
//     opacity: 0.1;
//     stroke-dasharray: 2000;
//     stroke-dashoffset: 2000;
//   }
//   50% {
//     opacity: 0.7;
//   }
//   100% {
//     opacity: 0.2;
//     stroke-dasharray: 100;
//     stroke-dashoffset: 0;
//   }
// }
