@use '/public/styles/mixins';

.project-container {
  // background-color: rgb(160, 255, 137);
  @include mixins.section();

  & h2 {
    color: white;
    font-size: 2rem;
    font-family: var(--font-paragraph);
  }
}
