@use '/public/styles/mixins';

.project-container {
  // background-color: rgb(160, 255, 137);
  @include mixins.section();
  position: relative;
  overflow: hidden;

  &-background {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    & svg {
      & path {
        &:nth-child(1) {
          fill-opacity: 0.8;
          fill: var(--primary-fluo-color);
        }
        &:nth-child(2) {
          fill: var(--primary-fluo-color);
          fill-opacity: 0.7;
        }
        &:nth-child(3) {
          fill: var(--primary-fluo-color);
          fill-opacity: 0.5;
        }
      }
    }
  }

  &-main {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    &-presentation {
      & h2 {
        font-size: 2.4rem;
        color: var(--font-light-color);
        font-family: var(--font-title);
      }
    }

    &-content {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      &-card {
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
        background-color: #f2f2f2;
        cursor: pointer;

        &-presentation {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: all 1000ms;
          color: #555555;
          text-align: center;

          &-title {
            color: var(--primary-dark-color);
            font-family: 'Poppins regular';
          }
          & p {
            font-family: var(--font-paragraph);
          }

          &-separate {
            border-top: 1px solid var(--primary-fluo-color);
            width: 150px;
            height: 1px;
            display: block;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: center;
          transition: all 1000ms;
          opacity: 0;
        }

        &:hover {
          .project-container-main-content-card-presentation {
            transition: all 800ms;
            opacity: 0.2;
            transform: scale(0);
          }
          .project-container-main-content-card-presentation-separate {
            animation: line 600ms linear forwards;
          }
          img,
          .project-message {
            transition: all 800ms;
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

.project-message {
  transition: all 1000ms;
  padding: 1rem;
  opacity: 0;
  & h2,
  p {
    font-size: 1rem;
    color: var(--primary-fluo-color);
  }
  & p {
    font-family: var(--font-paragraph);
  }

  & span {
    cursor: pointer;
    text-decoration: underline;
  }
}

@keyframes line {
  0% {
    width: 150px;
  }
  20% {
    width: 15px;
  }
  100% {
    width: 0;
  }
}

@media (max-width: 640px) {
  .project-container {
    height: 100%;
    margin-top: 3rem;

    &-main {
      width: 100%;
      height: auto;
      row-gap: 0;

      &-presentation {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        margin: 1rem 0;
      }

      & h2 {
        color: var(--primary-fluo-color);
        font-size: 2rem;
      }

      &-content {
        padding: 2rem 0;
        width: 100%;
        background-color: rgba(73, 183, 146, 0.6901960784);
      }
    }
  }

  .project-message {
    & h2 {
      font-size: 1.4rem;
    }
  }
}
