@use '/public/styles/mixins';

.service-container {
  @include mixins.section($justify: center);
  position: relative;

  &-title {
    & svg {
      width: 150%;
    }
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & svg {
      width: 100%;
    }

    &-picture {
      width: 90%;
      display: flex;
      justify-content: flex-end;
      & img {
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 20px;
        right: 8%;
        filter: drop-shadow(0 12px 6px var(--primary-grey-color));
        transition: all 400ms;

        &:hover {
          transform: translateY(-10px) scale(1.2);
          transition: all 400ms;
        }
      }
    }
  }

  .service {
    &-hexagone {
      fill: none;
      stroke: var(--primary-fluo-color);
      stroke-width: 2px;

      &-left {
        position: absolute;
        width: 21%;
        max-width: 400px;
        left: -100px;
        top: -100px;
        transform: rotate(90deg);
        fill: var(--primary-fluo-color);
        fill-opacity: 0.6;
      }
    }
    &-paragraph {
      fill: var(--paragraph-color);
    }

    &-layout {
      fill: none;
      stroke: var(--primary-fluo-color);
      stroke-width: 2px;
      stroke-dasharray: 1455;
      stroke-dashoffset: 1455;
      animation: dash 4s linear infinite;
    }

    &-circle {
      fill: none;
      stroke: var(--primary-fluo-color);
      stroke-width: 1px;
      transform-box: fill-box;

      &-center {
        fill: var(--primary-fluo-color);
        stroke: var(--primary-fluo-color);
        stroke-width: 2px;
        stroke-opacity: 1;
      }

      &-pulse {
        stroke: var(--primary-fluo-color);
        stroke-width: 2px;
        stroke-opacity: 0;
        fill: transparent;
        fill-opacity: 0;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        animation-duration: 2s;
        animation-name: pulse;
        animation-iteration-count: infinite;
      }
    }

    &-dot {
      width: 13%;
      position: absolute;
      bottom: 0;
      left: 200px;
      &-circle {
        fill-opacity: 0.2;
        fill: var(--primary-dark-color);
      }
    }
  }
}

.service-hexagone-title {
  fill: var(--primary-fluo-color);
}

.layout-mobile {
  display: none;
}

.para {
  opacity: 0;
  transition: animation 200ms;
  animation: appears 1000ms linear forwards;
}
.one {
  animation-delay: 800ms;
}
.two {
  animation-delay: 2100ms;
}
.three {
  animation-delay: 3100ms;
}

@keyframes appears {
  to {
    opacity: 1;
  }
}

.big-pulse {
  animation-duration: 2s;
  animation-name: big-pulse;
  animation-iteration-count: infinite;
  animation-delay: 400ms;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1;
}

.pulse-1 {
  animation-delay: 700ms;
  opacity: 1;
}

.pulse-2 {
  animation-delay: 2000ms;
  opacity: 1;
}

.pulse-3 {
  animation-delay: 3000ms;
  opacity: 1;
}

.animate-dash {
  animation: dash 4s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

@keyframes big-pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 0.1;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .layout-mobile {
    display: block;
  }

  .layout-desktop {
    display: none;
  }

  .service-container {
    height: auto;
    margin-top: 3rem;

    .service-hexagone-left {
      width: 26%;
      left: 83px;
      top: 84px;
      transform: rotate(15deg);
    }

    &-title {
      display: flex;
      width: 90%;
      justify-content: center;
    }

    .service {
      &-layout {
        stroke-dasharray: 1725;
        stroke-dashoffset: 1725;
      }
      &-hexagone {
        fill: var(--primary-fluo-color);
        stroke: none;
        fill-opacity: 0.2;
      }
    }

    .service-dot {
      width: 30%;
      left: auto;
      right: 0;
      bottom: 0;
    }

    &-main-picture {
      width: 80%;
      justify-content: center;
      margin-top: -3.4rem;

      & img {
        width: 100%;
        position: static;
      }
    }

    .service-paragraph {
      fill: var(--primary-fluo-color);
      fill-opacity: 0.2;
    }
  }
}
