@use '/public/styles/mixins';

.marketing-container {
  @include mixins.section();
  position: relative;
  display: flex !important;
  &-background {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    & svg {
      height: 100%;
      & rect {
        fill: var(--primary-fluo-color);
        opacity: 0.8;
      }
      & path {
        &:nth-child(2) {
          fill: var(--primary-light-color);
          fill-opacity: 0.2;
        }
        &:nth-child(3) {
          fill: var(--primary-dark-color);
          fill-opacity: 0.6;
        }
      }
    }

    &-dot {
      width: 150px;
      position: absolute;
      z-index: -2;
      bottom: 0;
      left: 20%;
      height: auto;
      & circle {
        fill: var(--primary-grey-color);
        fill-opacity: 0.6;
      }
    }
  }

  &-main {
    width: 90%;
    display: flex;
    justify-content: space-between;

    &-presentation {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: var(--paragraph-color);
      font-family: var(--font-paragraph);
      padding-top: 3rem;
      &-title {
        font-size: 2.4rem;
        color: var(--font-light-color);
        font-family: var(--font-title);
      }
      &-subtitle {
        font-size: 1.8rem;
        margin-top: 2rem;
        color: #348369;
      }
      & p {
        font-family: var(--font-paragraph);
        margin-top: 1rem;
        font-size: 1.2rem;
        color: var(--font-light-color);
      }
    }

    &-benefit {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &-card {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
          margin-bottom: 1rem;
          letter-spacing: 1.4px;
          font-family: var(--font-paragraph);
          color: var(--primary-grey-color);
          filter: drop-shadow(2px 2px 4px var(--primary-dark-color));
          transition: all 400ms;
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 430px;
          background-color: #ffffff;
          padding: 0 1rem 1rem 1rem;
          border-radius: 1rem;
          transition: all 400ms;
          &:hover {
            transition: all 400ms;
            background-color: var(--primary-fluo-color);
            animation: move 4s linear infinite alternate;
            filter: drop-shadow(0 2px 6px var(--primary-dark-color));
            & svg {
              filter: drop-shadow(0 2px 2px var(--primary-grey-color));
              transition: all 400ms;
            }
            .icon-card {
              fill: var(--primary-light-color);
              transition: all 200ms;
            }
          }

          &-icon {
            width: 120px;

            & svg {
              transition: all 400ms;
              .icon-card {
                transition: all 400ms;
                fill: var(--primary-fluo-color);

                &-stroke {
                  fill: var(--primary-dark-color);
                }
              }
            }
          }

          &-figure {
            font-family: var(--font-paragraph);
            font-size: 2.4rem;
            text-align: center;
          }

          & p {
            font-family: var(--font-paragraph);
            font-size: 0.9rem;
            line-height: 1.2;
            margin-bottom: 0.6rem;
          }
        }

        &:hover {
          & h3 {
            color: var(--primary-light-color);
            transition: all 400ms;
          }
        }
      }
    }
  }
}

.marketing-container-main-benefit-card:hover {
  &-title {
    color: #ffffff;
  }
}

.sticky-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 120px;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--primary-fluo-color);
  text-align: end;
  padding: 0 0.6rem 1rem 0.6rem;
  animation: first-stop 3.5s infinite;
  & p {
    font-size: 1.4rem;
    font-family: var(--font-index);
  }
}

@keyframes gradient-animation {
  0% {
    background-color: linear-gradient(
      to bottom,
      #348369,
      var(--primary-fluo-color)
    );
  }
  50% {
    background-color: linear-gradient(
      to bottom,
      var(--primary-fluo-color),
      #348369
    );
  }
  100% {
    background-color: linear-gradient(
      to bottom,
      #348369,
      var(--primary-fluo-color)
    );
  }
}

@keyframes move {
  to {
    left: 100%;
    fill: #348369;
  }
}

@media (max-width: 640px) {
  .marketing-container {
    height: 100%;
    margin-top: 2rem;
    &-main {
      flex-direction: column;
      align-items: center;
      width: 100%;

      &-presentation {
        width: 90%;
        margin-top: 2rem;
        padding-top: 0;

        &-title {
          font-size: 2rem;
          color: var(--primary-fluo-color);
        }
        &-subtitle {
          margin-top: 0;
          font-size: 1.4rem;
        }

        &-text {
          color: var(--primary-dark-color) !important;
          font-size: 0.9rem !important;
        }
      }

      &-benefit {
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #49b792b0;
        margin: 3rem 0;

        &-card {
          width: 80%;
          margin: 1rem;

          &-content {
            height: auto;
            padding-bottom: 2rem;
            filter: drop-shadow(0px 2px 2px var(--primary-dark-color));
          }

          &-title {
            color: var(--primary-light-color);
          }

          & h3 {
            color: var(--primary-light-color);
          }

          &:hover {
            & h3 {
              transition: all 400ms;
            }
          }
        }
      }
    }
    &-background {
      display: none;

      &-dot {
        left: 0;
      }
    }
  }
}
