@use '/public/styles/mixins';

.service-container {
  background-color: rgb(80, 191, 255);
  @include mixins.section();

  & h2 {
    color: white;
    font-size: 2rem;
    font-family: var(--font-paragraph);
  }
}
