@use '/public/styles/mixins';

.contact {
  &-container {
    position: relative;
    margin-right: 50px;
    @include mixins.section($justify: space-between);
    & h3 {
      z-index: 10;
      color: var(--paragraph-color);
      font-size: 2.4rem;
      font-family: var(--font-title);
      margin: 4rem 0 2rem 0;
    }
  }

  &-background {
    position: absolute;
    width: 100%;
    height: 47%;
    background-color: var(--primary-dark-color);
    z-index: -1;
    bottom: 0;

    &-shadow {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 0;
      & svg {
        filter: drop-shadow(0 1px 2px var(--primary-dark-color));
        opacity: 0.4;
        & path {
          fill: var(--primary-grey-color);
          // opacity: 0.2;
        }
      }
    }
  }
  &-brand-name {
    width: 150px;
    position: absolute;
    bottom: 10px;
    & path {
      // fill: none;
      &:nth-child(1) {
        fill: var(--primary-light-color);
      }
      &:nth-child(2) {
        fill: var(--primary-light-color);
      }
      &:nth-child(3) {
        fill: var(--primary-light-color);
      }
      &:nth-child(4) {
        fill: var(--primary-light-color);
      }
      &:nth-child(5) {
        fill: var(--primary-light-color);
      }
      &:nth-child(6) {
        fill: var(--primary-fluo-color);
      }
      &:nth-child(7) {
        fill: var(--primary-light-color);
      }
      &:nth-child(8) {
        fill: var(--primary-light-color);
      }
      &:nth-child(9) {
        fill: var(--primary-light-color);
      }
    }
  }

  &-btn {
    position: absolute;
    z-index: 999;
    bottom: -92px;
    right: 5px;
    background-color: transparent;
    border: none;
    width: 85px;
    cursor: pointer;
    & path:nth-child(1) {
      fill: var(--primary-light-color);
    }

    & path:nth-child(2) {
      fill: var(--primary-dark-color);
    }
  }
}

.send-mail {
  width: 85px;
  position: absolute;
  z-index: 997;
  opacity: 0;
  bottom: -92px;
  right: 5px;
  & path:nth-child(1) {
    fill: var(--primary-light-color);
  }
}

// .letter-flight {
//   -webkit-animation-name: bounceOutRight;
//   animation-name: bounceOutRight;
//   -webkit-animation-duration: 2s;
//   animation-duration: 2s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }

// @-webkit-keyframes bounceOutRight {
//   20% {
//     opacity: 1;
//     -webkit-transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
//     transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
//   }
//   100% {
//     opacity: 0;
//     -webkit-transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
//     transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
//   }
// }
// @keyframes bounceOutRight {
//   20% {
//     opacity: 1;
//     -webkit-transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
//     transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
//   }

//   100% {
//     opacity: 0;
//     -webkit-transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
//     transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
//   }
// }

.slide-out-elliptic-top-bck {
  -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

// .slide-out-elliptic-right-fwd {
//   -webkit-animation: slide-out-elliptic-right-fwd 0.7s
//     cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
//   animation: slide-out-elliptic-right-fwd 0.7s
//     cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
// }

// @-webkit-keyframes slide-out-elliptic-right-fwd {
//   0% {
//     -webkit-transform: translateX(0) rotateY(0) scale(1);
//     transform: translateX(0) rotateY(0) scale(1);
//     -webkit-transform-origin: 600px 50%;
//     transform-origin: 600px 50%;
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: translateX(1000px) rotateY(20deg) scale(6);
//     transform: translateX(1000px) rotateY(20deg) scale(6);
//     -webkit-transform-origin: -100% 50%;
//     transform-origin: -100% 50%;
//     opacity: 0;
//   }
// }
// @keyframes slide-out-elliptic-right-fwd {
//   0% {
//     -webkit-transform: translateX(0) rotateY(0) scale(1);
//     transform: translateX(0) rotateY(0) scale(1);
//     -webkit-transform-origin: 600px 50%;
//     transform-origin: 600px 50%;
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: translateX(1000px) rotateY(20deg) scale(6);
//     transform: translateX(1000px) rotateY(20deg) scale(6);
//     -webkit-transform-origin: -100% 50%;
//     transform-origin: -100% 50%;
//     opacity: 0;
//   }
// }

.color-change {
  -webkit-animation-name: changeFillColor;
  animation-name: changeFillColor;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes changeFillColor {
  0% {
    fill: var(--primary-fluo-color);
  }
}

.contact-form {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;

  &-name,
  &-method {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
  }

  &-message {
    width: 100%;

    & textarea {
      width: 100%;
    }
  }
}

.input-text {
  width: 49%;
  height: 65px;
  border: none;
  outline: none;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  color: var(--paragraph-color);
  font-size: 15px;
  background-color: var(--primary-fluo-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

textarea {
  padding-top: 1.2rem !important;
  height: 200px !important;
}

.input-text::placeholder {
  font-family: var(--font-title);
  color: #35866b;
  border-bottom: 1px solid #35866b;
}

.input-text:focus {
  border: 2px solid transparent;
  color: var(--paragraph-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 0.7),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);

  &::placeholder {
    opacity: 0.4;
  }
}

div:has(.input-text) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.message {
  grid-area: message;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.lastname {
  grid-area: lastname;
}
.firstname {
  grid-area: firstname;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;

  & > * {
    font-family: var(--font-paragraph);
    color: var(--primary-light-color);
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .contact {
    &-background-shadow {
      display: none;
    }
    &-container {
      margin-top: 3rem;
      margin-right: 0;
      justify-content: space-evenly;
      height: 100%;

      & h3 {
        width: 85%;
        display: flex;
        font-size: 2rem;
        color: var(--primary-fluo-color);
        margin: 0;
        margin-bottom: 2rem;
      }
      .contact-form {
        width: 90%;
      }

      .input-text {
        width: 100%;
      }
    }
  }
  .contact-btn {
    position: static;
    width: 90px;
  }
}
