@use '/public/styles/mixins';

.contact {
  &-container {
    position: relative;
    margin-right: 50px;
    @include mixins.section($justify: space-between);
    & h2 {
      z-index: 10;
      color: var(--paragraph-color);
      margin: 2rem 0;
      font-size: 4rem;
    }
  }

  &-background {
    position: absolute;
    width: 100%;
    height: 47%;
    background-color: var(--primary-dark-color);
    z-index: -1;
    bottom: 0;

    &-shadow {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 0;
      & svg {
        filter: drop-shadow(0 1px 2px var(--primary-dark-color));
        opacity: 0.4;
        & path {
          fill: var(--primary-grey-color);
          // opacity: 0.2;
        }
      }
    }
  }
  &-brand-name {
    width: 150px;
    position: absolute;
    bottom: 10px;
    & path {
      // fill: none;
      &:nth-child(1) {
        fill: var(--primary-light-color);
        // fill-dasharray: 179;
        // fill-dashoffset: 179;
        // animation: dash-line 2s linear forwards;
      }
      &:nth-child(2) {
        fill: var(--primary-light-color);
      }
      &:nth-child(3) {
        fill: var(--primary-light-color);
      }
      &:nth-child(4) {
        fill: var(--primary-light-color);
      }
      &:nth-child(5) {
        fill: var(--primary-light-color);
      }
      &:nth-child(6) {
        fill: var(--primary-fluo-color);
      }
      &:nth-child(7) {
        fill: var(--primary-light-color);
      }
      &:nth-child(8) {
        fill: var(--primary-light-color);
      }
      &:nth-child(9) {
        fill: var(--primary-light-color);
      }
    }
  }

  &-btn {
    position: absolute;
    z-index: 999;
    bottom: -92px;
    right: 5px;
    background-color: transparent;
    border: none;
    width: 85px;
    cursor: pointer;
    & path:nth-child(1) {
      fill: var(--primary-light-color);
    }

    & path:nth-child(2) {
      fill: var(--primary-dark-color);
    }
  }
}

.send-mail {
  width: 85px;
  position: absolute;
  z-index: 997;
  opacity: 0;
  bottom: -92px;
  right: 5px;
  & path:nth-child(1) {
    fill: var(--primary-light-color);
  }
}

.letter-flight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
    transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
    transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
    transform: translate3d(-100px, 50px, 30px) rotate(-360deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
    transform: translate3d(1000px, -150px, 100px) rotate(-360deg);
  }
}

.color-change {
  -webkit-animation-name: changeFillColor;
  animation-name: changeFillColor;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes changeFillColor {
  0% {
    fill: var(--primary-purple-color);
  }
}

.contact-form {
  width: 60%;
  height: 325px;
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-template-areas:
    'lastname firstname'
    'email phone'
    'message message';
}

.input-text {
  width: 100%;
  height: 65px;
  border: none;
  outline: none;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  color: var(--paragraph-color);
  font-size: 15px;
  background-color: var(--primary-fluo-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

textarea {
  padding-top: 1.2rem !important;
  height: 200px !important;
  &::placeholder {
    padding-top: 1rem;
  }
}

.input-text::placeholder {
  font-family: var(--font-title);
  color: #555555;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-dark-color);
}

.input-text:focus {
  border: 2px solid transparent;
  color: var(--paragraph-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 0.7),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);

  &::placeholder {
    opacity: 0.4;
  }
}

div:has(.input-text) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.message {
  grid-area: message;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.lastname {
  grid-area: lastname;
}
.firstname {
  grid-area: firstname;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;

  & > * {
    font-family: var(--font-paragraph);
    color: var(--primary-light-color);
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    .contact-form {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        'lastname'
        'firstname'
        'email'
        'phone'
        'message';
    }
  }
}
