@font-face {
  font-family: 'Poppins regular';
  src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins light';
  src: url('/public/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins bold';
  src: url('/public/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto regular';
  src: url('/public/fonts/RobotoMono-Regular.ttf') format('truetype');
}
