@font-face {
  font-family: 'Poppins regular';
  src: url('/public/fonts/Poppins-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins light';
  src: url('/public/fonts/Poppins-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins bold';
  src: url('/public/fonts/Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Halcyon regular';
  src: url('/public/fonts/Halcyon-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/RobotoMono-VariableFont_wght.ttf') format('opentype');
}
