@use './mixins';

:root {
  --max-width: 1100px;
  --border-radius: 10px;

  --font-title: 'Poppins regular', sans-serif;
  --font-paragraph: 'Poppins light', sans-serif;
  --font-bold: 'Poppins bold', sans-serif;
  --font-subtitle: 'Halcyon regular', sans-serif;
  --font-index-page: 'Roboto', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-dark-color: #292929;
  --primary-light-color: #f2f2f2;
  --primary-grey-color: #b4b4b4;
  --primary-purple-color: #6551ff;
  --primary-fluo-color: #caf538;

  --font-light-color: #f2f2f2;
  --paragraph-color: #292929;
  --foreground-rgb: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --icon-colored-fill: #6551ff;
  --icon-light-fill: #b4b4b4;

  --svg-fill-grey: #292929;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// html {
//   overflow-y: scroll;
// }

body {
  height: 100%;
  overflow-y: visible;
  position: relative;
  height: unset;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--font-subtitle);
  color: var(--paragraph-color);
}

h2 {
  color: white;
  // font-size: 2rem;
  font-family: var(--font-paragraph);
}

textarea {
  resize: none;
}

.panel {
  height: 100vh;
  top: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.svg-letter {
  fill: var(--for);

  &-colored {
    fill: var(--icon-colored-fill);
  }
}

// @keyframes animateGradient {
//   0% {
//     stop-offset: 0%;
//   }
//   50% {
//     stop-offset: 100%;
//   }
//   100% {
//     stop-offset: 0%;
//   }
// }
