:root {
  --max-width: 1100px;
  --border-radius: 10px;

  --font-title: 'Cascadia Mono', sans-serif;
  --font-paragraph: 'Poppins light', sans-serif;
  --font-subtitle: 'Halcyon regular', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --paragraph-color: #1e1e1e;
  --foreground-rgb: #f2f2f2;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --icon-colored-fill: #6551ff;
  --icon-light-fill: #b4b4b4;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;

//     --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
//     --secondary-glow: linear-gradient(
//       to bottom right,
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0),
//       rgba(1, 65, 255, 0.3)
//     );

//     --tile-start-rgb: 2, 13, 46;
//     --tile-end-rgb: 2, 5, 19;
//     --tile-border: conic-gradient(
//       #ffffff80,
//       #ffffff40,
//       #ffffff30,
//       #ffffff20,
//       #ffffff10,
//       #ffffff10,
//       #ffffff80
//     );

//     --callout-rgb: 20, 20, 20;
//     --callout-border-rgb: 108, 108, 108;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--font-subtitle);
  color: var(--paragraph-color);
}
// .icon {
//   filter: drop-shadow(2px 4px 6px #aaaaaa);
// }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.svg-letter {
  fill: var(--for);

  &-colored {
    fill: var(--icon-colored-fill);
  }
}

// @keyframes animateGradient {
//   0% {
//     stop-offset: 0%;
//   }
//   50% {
//     stop-offset: 100%;
//   }
//   100% {
//     stop-offset: 0%;
//   }
// }

// .background_neon stop:nth-child(1) {
//   animation: animateGradient 4s ease-in-out infinite;
// }

// .background_neon stop:nth-child(2) {
//   animation: animateGradient 4s ease-in-out infinite 2s;
// }

// .background_neon stop:nth-child(3) {
//   animation: animateGradient 4s ease-in-out infinite 4s;
// }
