@use './mixins';

:root {
  --max-width: 1100px;
  --border-radius: 10px;

  --font-title: 'Poppins regular', sans-serif;
  --font-paragraph: 'Poppins light', sans-serif;
  --font-bold: 'Poppins bold', sans-serif;

  --primary-grey-color: #b4b4b4;
  --primary-light-color: #f2f2f2;
  --primary-dark-color: #2a2a2a;
  --primary-fluo-color: #49b792;
  --primary-purple-color: #6551ff;

  --font-light-color: #f2f2f2;
  --paragraph-color: #292929;
  --foreground-rgb: #ffffff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --icon-dark-fill: #2a2a2a;
  --icon-light-fill: #b4b4b4;

  --svg-fill-grey: #292929;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  overflow-y: visible;
  position: relative;
  height: unset;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--font-subtitle);
  color: var(--paragraph-color);
}

h2 {
  color: white;
  font-family: var(--font-paragraph);
}

textarea {
  resize: none;
}

.panel {
  height: 100vh;
  top: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.svg-letter {
  &-colored {
    fill: var(--icon-colored-fill);
  }
}

@media (max-width: 640px) {
  body {
    overflow: scroll;
  }

  .container {
    margin-top: 8vh;
  }

  .panel {
    height: auto;
  }
}
